<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="./style.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Baloo+2:400,600&display=swap" rel="stylesheet">

   <title>Joquempô</title>
</head>
<body>  

   <div id="joquempo">
      <button @click="stage--"> << </button>
      Passar as telas
      <button @click="stage++"> >> </button>
      {{ stage }}

      <div id="menu" class="content" v-if="stage === 0">
         <div class="form">
            <input type="text" class="player-name" placeholder ="Nome do jogador">
            <input type="text" class="rounds" placeholder ="Rodadas" maxlength="2">
         </div>
         <button class="start-game">Iniciar Jogo</button>
      </div>

      <div id="playing-field" v-if="running || stage > 0">

         <div id="scoreboard">
            <div class="player">
               <div class="name" :class="playerClass"> {{ playerName }} </div>
               <div class="score" :class="playerClass"> {{ playerScore }} </div>
            </div>

            <div class="round"> Rodada {{ round }} de {{ finalRound }} </div>

            <div class="cpu">
               <div class="name" :class="cpuClass"> CPU </div>
               <div class="score" :class="cpuClass"> {{ cpuScore }} </div>
            </div>
         </div>

         <div id="gameboard">
            <div class="content choice-board" v-if="stage === 1">
               <span>Escolha: </span>
               <div class="choice">
                  <span>Pedra</span> 
                  <img src="./img/rock.png">
               </div>
               <div class="choice">
                  <span>Papel</span> 
                  <img src="./img/paper.png">
               </div>
               <div class="choice">
                  <span>Tesoura</span> 
                  <img src="./img/scissor.png">
               </div>
            </div>

            <div class="content loading-fight" v-if="stage === 2"> <img src="./img/start.png"> </div>
            
            <div class="content fight" v-if="stage === 3 || stage === 4">
               <div class="choice player"><img src="./img/scissor.png"></div>
               <div class="vs"><img src="./img/vs.png"></div>
               <div class="choice cpu"><img src="./img/paper.png"></div>
            </div>
               
            <div class="content result" :class="resultClass" v-if="stage === 4">
               <div class="choice"><img src="./img/scissor.png"></div>
               A tesoura venceu o papel
            </div>
         </div>

      </div>   
      
   </div>

   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="./joquempo.js"></script>

</body>
</html>