<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="./style.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Baloo+2:400,600&display=swap" rel="stylesheet">

   <title>Joquempô</title>
</head>
<body>  

   <div id="joquempo">
      <div id="menu" class="content" v-if="stage === 'menu'">
         <div class="form">
            <input 
               type="text" 
               class="player-name" 
               placeholder ="Nome do jogador" 
               v-model="player.name"
               @blur="handlePlayerName"  
            >
            <input 
               type="text" 
               class="rounds"
               placeholder ="Rodadas"
               v-model="round.final"
               maxlength="2"
               @blur="handleFinalRound"   
            >
         </div>

         <button 
            class="start-game" 
            :disabled="!allValidData" 
            @click="toChoiceBoard"
         >
            Iniciar Jogo
         </button>
      </div>

      <div id="playing-field" v-else>

         <div id="scoreboard">
            <div class="player">
               <div 
                  class="name" 
                  :class="{
                     winning: winning === 'player',
                     losing: winning === 'cpu'
                  }"
               >  
                  {{ player.name }}
               </div>
               <div 
                  class="score"
                  :class="{
                     winning: winning === 'player',
                     losing: winning === 'cpu'
                  }"
               >
                  {{ player.score }}
               </div>
            </div>

            <!-- <div class="round"> Rodada {{ round.current }} de {{ round.final }} </div> -->
            <div 
               class="result"
               :class="{
                  winning: round.winner === 'player' && end,
                  losing: round.winner === 'cpu' && end,
                  draw: round.winner === 'nobody' && end
               }"
            >
               <template v-if="stage === 'result'">
                  <template v-if="round.winner === 'player'">
                     <span v-if="end">Parabéns!!! Você venceu o jogo.</span>
                     <span v-else>Vitória!</span>
                  </template>
   
                  <template v-if="round.winner === 'cpu'" > 
                     <span v-if="end">Você perdeu o jogo!!!.</span>
                     <span v-else>Derrota!</span>
                  </template>
   
                  <template v-if="round.winner === 'nobody'" > 
                     <span v-if="end">O jogo terminou empatado!!!</span>
                     <span v-else>Empate! </span>
                  </template>
   
                  <button v-if="end" @click="newGame">Novo Jogo</button>
                  <button v-else @click="toChoiceBoard">Continuar</button>
               </template>
            </div>

            <div class="cpu">
               <div 
                  class="name" 
                  :class="{
                     winning: winning === 'cpu',
                     losing: winning === 'player'
                  }"
               > 
                  CPU
               </div>
               <div 
                  class="score" 
                  :class="{
                     winning: winning === 'cpu',
                     losing: winning === 'player'
                  }"
               > 
                  {{ cpu.score }}
               </div>
            </div>
         </div>

         <div id="gameboard">
            <div class="content choice-board" v-if="stage === 'choiceBoard'">
               <span>Escolha: </span>
               <div class="choice" @click="startFight(0)">
                  <span>Pedra</span> 
                  <img src="./img/rock.png">
               </div>
               <div class="choice" @click="startFight(1)">
                  <span>Papel</span> 
                  <img src="./img/paper.png">
               </div>
               <div class="choice" @click="startFight(2)">
                  <span>Tesoura</span> 
                  <img src="./img/scissor.png">
               </div>
            </div>

            <div class="content loading-fight" v-if="stage === 'loadingFight'"> <img src="./img/start.png"> </div>
            
            <div class="content fight" v-if="stage === 'fight' || stage === 'result'">
               <div 
                  class="choice player"
                  :class="{
                     winning: round.winner === 'player',
                  }"
               >
                  <img :src="`./img/${player.optionChosen}.png`">
               </div>
               <div class="vs"><img src="./img/vs.png"></div>
               <div 
                  class="choice cpu"
                  :class="{
                     winning: round.winner === 'cpu',
                  }"
               >
                  <img :src="`./img/${cpu.optionChosen}.png`">
               </div>
            </div>
         </div>

      </div>   
      
   </div>

   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="./joquempo.js"></script>

</body>
</html>